:root {
  --custom-color-red: #fe5d26;
  --custom-color-gray-1: #3a3a3c;
  --custom-color-gray-2: #bdbdbd;
  --custom-color-gray-3: #828282;
  --custom-color-gray-6: #f2f2f2;
}
/*============================ section one ============================*/
/*============================== navbar ===============================*/
.nav-underline .nav-link.active {
  font-weight: 400;
  color: #4f4f4f;
  border-bottom-color: var(--custom-color-red);
}
.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: 400;
  color: #4f4f4f;
  text-decoration: none;
  transition: color 0.15s ease-in-out, 0.15s ease-in-out, 0.15s ease-in-out;
}
.nav-underline .nav-link:focus,
.nav-underline .nav-link:hover {
  border-bottom-color: var(--custom-color-red);
}
.nav-link:focus,
.nav-link:hover {
  color: #4f4f4f;
}
/*============================== mainbox ===============================*/
section.one {
  background-image: url(../public/images/services/S-1/header.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 23.1875rem;
}
section.one div.row {
  background-color: rgba(58, 58, 60, 0.72);
  height: 23.1875rem;
}
section.one div.row p {
  color: var(--custom-color-gray-6);
  font-size: 3rem;
  font-weight: 900;
  line-height: 4.75rem;
}
/*============================ section tow ============================*/
section.four {
  background: #f4f4f4;
}
section.tow div.icon{
position: relative;
}
section.tow div.icon img{
position: absolute;
top: 3.5rem;
right: 5rem;
}
 input.form-control{
 outline: 0;
  border: 1px solid var(--custom-color-gray-2);
  border-radius: 2.25rem;
}
section.four span.text-one {
  color: var(--custom-color-gray-3);
  font-size: 0.75rem;
  line-height: 2rem;
}
section.four p.text-one {
  color: var(--custom-color-gray-1);
  font-size: 0.75rem;
  font-size: 1.5rem;
  line-height: 2rem;
}
section.four span.text-tow {
  color: rgba(196, 196, 196, 0.15);
  font-size: 4.625rem;
  font-weight: 900;
  position: absolute;
  top: 15%;
}
a.read-more {
  color: var(--custom-color-red);
  font-size: 0.8rem;
  line-height: 1.5rem;
}
span.biger {
  color: #ed1c24;
  font-size: 1.4rem;
}
div.box {
  border-radius: 0.5rem;
}
.custom-card-title {
  color: var(--custom-color-gray-6);
  font-size: 3rem;
  font-weight: 800;
  line-height: 4.75rem;
}
.custom-main-text {
  color: var(--custom-color-gray-1);
  font-size: 1rem;
  font-weight: 700;
}
.custom-card-text {
  color: var(--custom-color-gray-3);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.img-p {
  background-color: #ececec;
  padding: 1rem;
}
/*============================ section three ============================*/
div.five {
  /* width: 48rem; */
  height: 16.25rem;
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
  bottom: 17%;
  z-index: 5;
}
section.five {
  background: url(../public/images/index/S-5/towfiqu-barbhuiya-w-8-p-9-cqdlx-7-i-unsplash-1.png);
  /* width: 48rem; */
  height: 16.25rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
}
section.five div.box {
  background-color: rgba(58, 58, 60, 0.78);
  height: 16.25rem;
  /* width: 48rem; */
}
section.five div.box p.header {
  color: var(--custom-color-gray-6);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.75rem;
}
section.five div.box p {
  color: #fff;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
}
section.five div.box a {
  color: var(--custom-color-gray-6);
  font-size: 0.875rem;
  font-weight: 500;
  position: absolute;
  right: 15%;
  background: var(--custom-color-red);
  padding: 11px 50px;
  border-radius: 3.125rem;
}
section.five div.box input {
  width: 23.4rem;
  height: 2.5rem;
  background: var(--Gray-6, #f2f2f2);
  padding: 20px;
  border-radius: 3.125rem;
  outline: 0;
  border: 1px solid var(--custom-color-gray-2);
}
/*============================ footer ============================*/
footer.container-fluid {
  background: #212121;
}
footer div.text p.text {
  color: #BDBDBD;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
}
footer a {
  color: var(--custom-color-gray-6);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
}
footer .x {
  color: var(--custom-color-gray-6);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
}
footer div.copy {
  color: var(--Gray-4, #bdbdbd);
  font-size: 0.75rem;
  font-weight: 400;
}
img.sdf {
  width: 100%;
}
